*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    border:3px solid black;
    border-radius: 5px;
    padding:10px;
    color:white;
    background-color: black;
}
body{
    border:2px solid black;
    background-color:#f1f1f1;
    padding:10px;
}
.container{
    display:flex;
    background-color: dodgerblue;
}
.container div{
    background-color: #f1f1f1;
    margin:10px;
    padding: 20px;
    font-size : 30px;
}
.container1{
    display:flex;
    flex-direction: column;
    background-color: dodgerblue;
}
.container1 div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font: size 30px;
}
.container2{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    background-color: dodgerblue;
}
.container2 div{
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    font: size 30px;
}
.container3{
    display: flex;
    justify-content:center;
    background-color: dodgerblue;
}
.container3 div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.container4{
    display: flex;
    background-color: dodgerblue;
    align-items: stretch;
}
.container4 div{
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 30px;
    height:200px;
}
.content{
    display: flex;
    background-color: dodgerblue;
    flex-wrap:wrap;
    align-content:center;
    height: 400px;
}
.content div{
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size:30px;
}
.content1{
    display: flex;
    flex-wrap:wrap;
    align-content:stretch;
    background-color: dodgerblue;
    height: 200px;
}
.content1 div{
    margin:10px;
    padding: 20px;
    font-size: 30px;
    background-color: #f1f1f1;
}
.content2{
    display: flex;
    background-color: dodgerblue;
    flex-wrap:wrap;
    align-content:flex-start;
    height: 300px;
}
.content2 div{
    margin: 10px;
    padding: 20px;
    font-size:30px;
    background-color: #f1f1f1;
}
footer{
    text-align:center;
}
