*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
    line-height: 1rem;
}
h1{
    text-align: center;
    border:5px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    padding:10px;
}
.section1{
    margin:auto;
    border:2px solid blue;
    padding:10px;
    background-color: aliceblue;
}
.section2{
    margin:auto;
    border:2px solid blue;
    padding:10px;
    background-color: aliceblue;
}
.section3{
    margin:auto;
    border:2px solid blue;
    padding:10px;
    background-color: aliceblue;
}
.section4{
    margin:auto;
    border:2px solid blue;
    padding:10px;
    background-color: aliceblue;
}
.section5{
    margin:auto;
    border:2px solid blue;
    padding:10px;
    background-color: aliceblue;
    padding-bottom: 40px;
}
.section{
    margin:auto;
    border:2px solid blue;
    padding:10px;
    background-color: aliceblue;
}
.section6{
    margin:auto;
    background-color: aliceblue;
    border:2px solid blue;
    padding:10px;
    padding-bottom: 60px;
}
img{
    float:left;
    margin:auto;
    max-width: 70px;
    max-height:70px;
}
.right{
    float:right;
    margin-right:15px;
    width: 200px;
    height: 200px;
}
.none{
    float:none;
    width: 200px;
    height: 200px;
}
.div1{
    float:left;
    padding:15px;
    background:red;

}
.div2{
    float:left;
    padding:15px;
    background: blue;
}
.div3{
    float:left;
    padding: 15px;
    background:yellow;
}
.div7{
    float:left;
    padding: 10px;
    border:1px solid red;
}
.clear{
    border:2px solid green;
    margin:auto;
    padding:10px;
    background-color: aliceblue;
}
.div4{
    padding:10px;
    border:3px solid green;
    width: 200px;
}
.div5{
    float:left;
    padding:10px;
    border:2px solid red;
}
.div6{
    padding:10px;
    border:3px solid green;
    width: 200px;
    clear:left;
}
div{
    border:2px solid green;
}
.classimage{
    float:right;
}

.image{
    float:right;
}
.clearfix::after{
    content:"";
    clear:both;
    display:table;
}
.div{
    border:0;
}
footer{
    text-align:center;
}

