*{
    box-sizing: border-box;
}
h1{
    background-color: black;
    border:2px solid black;
    color:white;
    border-radius:8px;
    padding:10px;
    text-align:center;
}
body{
    border:2px solid black;
    padding:10px;
    line-height:1rem;
}
.container{
    display:grid;
    background-color: dodgerblue;
    grid-template-columns: auto auto auto;
    padding:10px;
}
.container div{
    background-color: #f1f1f1;
    padding:20px;
    border:1px solid black;
    font-size:30px;
    text-align: center;
}
.container1{
    display:grid;
    background-color: dodgerblue;
    grid-template-columns: auto auto auto;
    padding:10px;
    gap:5px;
}
.container1 div{
    background-color: #f1f1f1;
    text-align:center;
    padding:10px;
    border:1px solid black;
    font-size:30px;
}
.container2{
    display:grid;
    background-color: dodgerblue;
    grid-template-columns: auto auto auto;
    padding:10px;
    grid-template-rows:80px 200px;
    gap:5px;
}
.container2 div{
    background-color: #f1f1f1;
    text-align:center;
    padding: 10px;
    border:1px solid black;
    font-size:30px;
}
.container3{
    display: grid;
    background-color: dodgerblue;
    column-gap:15px;
    grid-template-columns:auto auto auto;
    grid-template-rows:80px 80px;
    padding:10px;
}
.container3 div{
    background-color: #f1f1f1;
    padding:10px;
    font-size:30px;
    text-align:center;
    border:1px solid black;
}
.container4{
    display:grid;
    background-color: dodgerblue;
    row-gap:10px;
    padding:10px;
    grid-template-columns:auto auto auto;
}
.container4 div{
    background-color: #f1f1f1;
    padding: 10px;
    border:1px solid black;
    text-align:center;
    font-size:30px;
}
.container5{
    display:grid;
    background-color:dodgerblue;
    padding:10px;
    gap:10px;
    grid-template-columns:auto auto auto;
}
.container5 div{
    background-color:#f1f1f1;
    padding:10px;
    border:1px solid black;
    text-align:center;
    font-size:30px;
}
.container6{
    display:grid;
    background-color:dodgerblue;
    grid-template-columns:auto auto auto;
    gap:5px;
    padding:5px;
}
.container6 div{
    background-color: #f1f1f1;
    padding:10px;
    text-align:center;
    font-size: 30px;
}
.item1{
    grid-column:1 / span 2;
}
.container7{
    display:grid;
    background-color: dodgerblue;
    padding:5px;
    grid-template-columns:auto auto auto;
    gap:5px;
}
.container7 div{
    background-color:#f1f1f1;
    padding:10px;
    text-align:center;
    font-size:30px;
}
.num1{
    grid-row:1 / span 2;
}
.container8{
    display:grid;
    background-color:dodgerblue;
    padding:5px;
    grid-template-areas:'myheader myheader myheader';
    gap:5px;
}
.container8 div{
    background-color: #f1f1f1;
    padding:10px;
    text-align:center;
    font-size:30px;
}
.numb1{
    grid-area:myheader;
}
@media (max-width:600px){
    body{
        background-color: lightgreen;
    }
}
footer{
    text-align:center;
    color:black;
}