*{
    box-sizing: border-box;
}
:root{
    --primary-bg-color: #f2f3f4;
    --primary-color:black;
}
body{
    background-color: var(--primary-bg-color);
    color:var(--primary-color);
    border:2px solid black;
    border-radius:5px;
    line-height:1.3em;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
}
.h1{
    border:2px solid black;
    border-radius:8px;
    color:var(--primary-bg-color);
    padding:10px;
    background-color: #1e1243;
}
h1{
    text-align:center;
    color:var(--primary-bg-color);
}
header{
    border:2px solid black;
    background-color: #1e1243;
    padding:10px;
    border-radius:8px;
}
main{
    border:2px solid black;
    border-radius:8px;
    padding:10px;
}
.transform{
    width:100px;
    height:100px;
    background-color: red;
    transform:translate(50px, 100px);
}
.rotate{
    display: grid;
    position:relative;
    margin-top:40px;
}
.transform1{
    width: 100px;
    height:100px;
    background-color: red;
    transform:rotate(20deg);
    margin-left:5px;
}
.transform2{
    width:100px;
    height:100px;
    background-color:red;
    transform:scale(2,1);
    margin-left:50px;
}
.transform3{
    width:100px;
    height:100px;
    background-color:red;
    border:1px solid black;
}
#transform{
    transform:skew(20deg,10deg);
    border:1px solid black;
    width:100px;
    height:100px;
    background-color:red;
}
#mydiv{
    width:100px;
    height:100px;
    background-color:red;
    transform:matrix(1,-0.3,0,1,0,0);
    margin-bottom:10px;
}
.rotate1{
    width:100px;
    height:100px;
    background-color: red;
    text-align:center;
    border:1px solid black;
}
#div1{
    transform:rotateX(150deg);
    background-color: red;
    width:100px;
    height:100px;
    border:1px solid black;
}
.rotate2{
    width:100px;
    height:100px;
    background-color: red;
    text-align:center;
    border:1px solid black;
}
#div2{
    transform:rotateY(150deg);
    background-color: red;
    width:100px;
    height:100px;
    border:1px solid black;
}
.rotate3{
    width:100px;
    height:100px;
    background-color: red;
    text-align:center;
    border:1px solid black;
}
#div3{
    transform:rotateZ(90deg);
    background-color: red;
    width:100px;
    height:100px;
    border:1px solid black;
}
footer{
    text-align:center;
    background-color: #1e1243;
    color:var(--primary-bg-color);
    border:2px solid black;
    padding:10px;
    border-radius:8px;
}
@media screen and (max-width:628px) {
    body{
        background-color:dodgerblue;
        display:grid;
        position:relative;
        display:inline-block;
    }
}