*{
    box-sizing: border-box;
}
header{
    text-align:center;
    border:5px solid black;
    border-radius:10px;
    background-color:rgba(255,255,255,0.7);

}
body{
    background: url("images/paper.webp") no-repeat center;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
section{
    border: 2px solid black;
    margin:15px;
    padding:10px;
    border-radius:5px;
    background-color: rgba(255,255,255,0.8);
}

