*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
}
h1{
    text-align: center;
    border-radius: 5px;
    border:2px solid black;
    padding:15px;

}
img{
    position:absolute;
    left:0;
    top:0;
    width:200px;
    z-index: -1;
}
.container{
    position: relative;
}
.black-box{
    position:relative;
    z-index: 1;
    border:1px solid black;
    height: 100px;
    margin:30px;
}
.gray-box{
    position:absolute;
    z-index: 3;
    background:lightgray;
    height:60px;
    width:70%;
    left: 50px;
    top:50px;
}
.green-box{
    position:absolute;
    z-index:2;
    background:lightgreen;
    width:35%;
    height:100px;
    left: 270px;
    top:-15px;

}

.visible{
    background-color: coral;
    width : 300px;
    height:65px;
    overflow:visible;
}
.hidden{
    background-color: green;
    border:1px solid black;
    width:300px;
    height:65px;
    overflow:hidden;
}
.scroll{
    background-color: powderblue;
    border:1px solid black;
    width: 300px;
    height: 65px;
    overflow:scroll;
}
.auto{
    background-color: aliceblue;
    width: 300px;
    height: 65px;
    border:1px solid black;
    overflow:auto;
}
footer{
    text-align: center;

}
