*{
    box-sizing: border-box;
}
body{
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
    padding:10px;
}
h1{
    background-color: black;
    border: 2px solid black;
    border-radius:8px;
    padding:15px;
    color:white;
    text-align: center;
}
.flex-container{
    display: flex;
    background-color: dodgerblue;
}
.flex-container div{
    margin:10px;
    padding:20px;
    background-color: #f1f1f1;
}
.container1{
    display: flex;
    background-color: dodgerblue;
}
.container1 div{
    margin: 10px;
    padding:20px;
    background-color: #f1f1f1;

}
.container2{
    display: flex;
    background-color: dodgerblue;
}
.container2 div{
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
}
.container3{
    display: flex;
    background-color: dodgerblue;
}
.container3 div{
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 30px;
}
.container4{
    display: flex;
    background-color: dodgerblue;
    align-content:stretch;
    height: 200px;
}
.container4 div{
    margin:10px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size:30px;
}
.container5{
    display: flex;
    background-color: dodgerblue;
    flex-direction: row;
}
.container5 div{
    background-color: #f1f1f1;
    padding:10px;
    font-size:30px;
    text-align:center;
    width:100%;
    margin:10px;
}
@media (max-width:600px){
    .container5{
        flex-direction: column;
    }
}
@media (max-width:600px){
    *{
        background-color: lightgreen;
    }
}