*{
    box-sizing: border-box;
}
:root{
    --primary-bg-color: rgba(355,227,228,0.3);
    --primary-color: black;
}
body{
    border:2px solid black;
    border-radius:5px;
    background-color: var(--primary-bg-color);
    color:var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.3em;
    padding:10px;
}
header{
    border:2px solid black;
    border-radius:8px;
    padding:10px;
    text-align:center;
    text-shadow: 1px 0 coral;
}
main{
    border:2px solid black;
    border-radius:8px;
    padding:10px;
}
.div{
    background-image:url(images/img_tree.png),url(images/image-paper.jpg);
    background-position:right bottom,center;
    background-repeat:no-repeat,no-repeat;
    background-size:200px 200px,cover;
    border:2px solid black;
    position:relative,relative;
    padding:10px;
    background-blend-mode: multiply,normal;
}
.div1{
    border:2px solid black;
    background-image:url(images/pineapple.png);
    padding:20px;
    background-repeat:no-repeat;
    background-origin: padding-box;
    background-blend-mode: multiply;
    position:relative;
}
.div2{
    border:2px solid black;
    background-image: url(images/pineapple.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-origin:border-box;
    background-blend-mode: multiply;
}
.div3{
    border:2px solid black;
    background-image:url(images/pineapple.png);
    padding:20px;
    background-repeat: no-repeat;
    background-origin:content-box;
}
.div4{
    border:5px dotted black;
    background-image:url(images/image-paper.jpg);
    padding:30px;
    background-clip:padding-box;
}
.div5{
    border:5px dotted black;
    background-image:url(images/image-paper.jpg);
    padding:30px;
    background-clip:border-box;
}
.div6{
    border:5px dotted black;
    background-image:url(images/image-paper.jpg);
    padding:30px;
    background-clip: content-box;
}
footer{
    text-align:center;
    padding:10px;
    background-color: var(--primary-bg-color);
    color:var(--primary-color);
    border:2px solid black;
    border-radius: 8px
}
@media screen and (max-width:628px){
    body{
        display:flex;
        display:block;
    }
    header{
        line-height:2em;
    }
}